<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ru.nikitenkogleb.wizards.android.app"
            name="Nikitenko Gleb">
      </category>
      <wizard
            category="ru.nikitenkogleb.wizards.android.app"
            class="ru.nikitenkogleb.wizards.android.app.EmptyAppWizard"
            descriptionImage="icons/android_app.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/android_app.gif"
            id="ru.nikitenkogleb.wizards.android.app.EmptyAppWizard"
            name="New Android Application"
            project="true">
      </wizard>
   </extension>

</plugin>
